.brandpill-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;

  .brandpill {
    display: inline-flex;
    box-sizing: border-box;
    padding: 0 12px 0 12px;
    margin: 0 8px 8px 8px;
    cursor: default;
    opacity: .85;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    letter-spacing: 1px;
    justify-content: flex-start;
    font-size: .9em;
    height: 36px;
    font-weight: 600;

    // Add option for rounding
    &.rounded {
      border-radius: 18px;
    }

    // Outline
    &.outline {
      background-color: transparent;
      border: 1px solid;
    }

    &.no-text {
      i {
        margin-right: auto;
      }
    }

    // Give spacing options
    &.spaced-small {
      margin: 0 3px 3px 3px;
    }
    &.spaced-medium {
      margin: 0 8px 8px 8px;
    }
    &.spaced-large {
      margin: 0 15px 15px 15px;
    }

    &.icon {
      padding-left: 15px;
      padding-right: 15px;
    }
  
    i {
      display: inline-flex;
      line-height: 36px;
      font-size: 1.4em;
      font-weight: normal;
      margin-right: 8px;
    }
  
    &.brandpill-dark,
    &.brandpill-dark i {
    //  color: #e7e7e7fa;
    }
  
    &:hover {
      opacity: 1;
    }
  }

  // Brandpill is a link
  a.brandpill {
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      span {
        text-decoration: underline;
      }
    }
  }

  &.left {
    justify-items: flex-start;
  }
  &.center,
  &.centre {
    justify-content: center;
  }
  &.right {
    justify-content: flex-end;
  }
}

